.animaciones{
    width: 95%;
    margin: 0 auto;
    height: 200vh;
    h2{
        text-align: center;
    }
    &__grid{
        display: grid;
        margin-top: 50px;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px;
        row-gap: 200px;
        @media screen and(max-width:720px){
            grid-template-columns:300px;
        }
        justify-content: space-around;
        align-content: space-around;

    }
    &__item{
        height: 100%;
        width: 100%;
        h3{
            margin-bottom:30px;
        }
    }
}