.home{
    position: relative;
    &__info{
        & > div{
            &:nth-child(1){
                display: flex;
                justify-content: right;
                align-items: center;
            }
            &:nth-child(2){
                svg{
                    animation: pulsar 2s linear infinite;
                    @keyframes pulsar {
                        0%{
                            opacity: 1;
                            transform: scale(1);
                        }
                        50%{
                            opacity: 0.6;
                            transform: scale(.98);
                        }
                        100%{
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
    &__categorias{
      position: relative;
      bottom: -2px;
      z-index: 20;
      display: grid;
      grid-template-columns: repeat(3, 150px);
      @media screen and(max-width:550px){
          grid-template-columns: repeat(3, 140px);
      }
      @media screen and(max-width:482px){
          grid-template-columns: 1fr;
          row-gap:10px;
      }
      justify-content: space-between;
      section{
        &::after{
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
        }
          position: relative;
          background-color: #fff;
          border-radius:10px;
          padding: 10px;
          text-align: center;
          transition: .05s linear;
          cursor: pointer;
          svg{
              font-size:50px;
              @media screen and(max-width:550px){
                font-size:40px;
                margin-bottom:5px;
              }
              margin-bottom:10px;
              color: #cfcfcf;
              transition: .05s linear;
          }
          p{
              margin:0;
              padding:0;
              transition: .05s linear;
          }
          &.activo{
              box-shadow: 0 0 0 2px #9c0 inset;
              color: #9c0;
              svg{
                  color: #9c0;
                  font-size: 55px;
              }
          }
          &:hover{
              box-shadow: 0 0 0 2px #9c0 inset;
          }
      }
      &--contenido{
          overflow: hidden;
          height: 500px;
          margin-bottom: 50px;
          section{
              position: relative;
              cursor: pointer;
              background-color: #fff;
              padding:10px 20px;
              margin-bottom: 15px;
              height: 500px;
              transition: .5s ease-in-out;
              h4{
                  margin:0;
                  padding:0;
                  transition: .3s linear;
              }
              span.cerrar{
                  position: absolute;
                  right: 20px;
                  top: 15px;
                  margin: auto;
                  display: block;
                  transform: rotate(45deg);
                  transition: .3s linear;
              }
              .container{
                  margin-top: 40px;
                    figure{
                        &:hover{
                            box-shadow: 0 0 0 1px;
                        }
                        img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        }
                        figcaption{
                            a{
                                color: #9b9b9b;
                                text-transform: lowercase;
                            }
                        }
                    }
              }
          }
      }  
    }
}