extends pug/_template.pug
block contenido
    main.animaciones 
        h2 Animaciones CSS
        .max-w-800
            p CSS ofrece una gran cantidad de posibilidades, entre ellas la capacidad de crear animaciones con codigo CSS, !Sí¡ con codígo.
            p Estas animaciones <b>no</b> son videos, <b>no</b> es un .mp4 ni .avi, esto no es un video es <strong>codigo</strong>. 
            p A continuacion dejo algunas animaciones CSS que he hecho:
        .animaciones__grid 
            .animaciones__item
                h3 Átomo CSS
                .cont_atom
                    .atomo
                        .coraza
                            .electrones#e1
                            .electrones#e2
                            .electrones#e3
                            .electrones#e4
                            .electrones#e5
                            .electrones#e6
                            .electrones#e7
                            .electrones#e8
                        .nucleo
                            .infra_nucleo
            .animaciones__item
                h3 Machine CSS
                .boxMachine
                    .cilindroContainer
                        .cilindro.uno
                        .cilindro.dos
                    .machine
                        .circle
                            .hole
                            .hole
                            .hole
                            .hole
                        .circle
                            .hole
                            .hole
                            .hole
                            .hole
            .animaciones__item
                h3 Cube 3D
                .contenedor
                    .box
                        .left
                        .rigth
                        .top
                        .bottom
                        .after
                        .before
            .animaciones__item
                h2 Square rotation 
                .contenedor.box-animation
                    .box.uno 
                    .box.dos 
                    .box.tres 
                    .box.four 
            .animaciones__item.item-span 
                h3 Social media
                .socialweb 
                    figure.line 
                    figure.line
                    figure#firstCircle  
                    figure#secondCircle 
                    figure#tirthCircle  
    footer 
        include pug\_footer.pug
    