extends pug/_template.pug
block contenido
    main.animaciones 
        h2 Animaciones CSS
        .max-w-800
            p CSS ofrece una gran cantidad de posibilidades, entre ellas la capacidad de crear animaciones con codigo CSS, !Sí¡ con codígo. 
            p a continuacion dejo algunas animaciones CSS que he hecho:
        .animaciones__grid 
            .animaciones__item
                h3 Átomo CSS
                .cont_atom
                    .atomo
                        .coraza
                            .electrones#e1
                            .electrones#e2
                            .electrones#e3
                            .electrones#e4
                            .electrones#e5
                            .electrones#e6
                            .electrones#e7
                            .electrones#e8
                        .nucleo
                            .infra_nucleo
            .animaciones__item
                
    footer 
        include pug\_footer.pug
    