extends pug/_template.pug
block contenido
    main.animaciones 
        h2 Animaciones CSS
        .animaciones__grid 
            .animaciones__item
                .cont_atom
                    .atomo
                        .coraza
                            .electrones#e1
                            .electrones#e2
                            .electrones#e3
                            .electrones#e4
                            .electrones#e5
                            .electrones#e6
                            .electrones#e7
                            .electrones#e8
                        .nucleo
                            .infra_nucleo
    footer 
        include pug\_footer.pug
    