extends pug/_template.pug
block contenido
    .portafolio-gal.container.text-center.mt-5
        .galeria 
            h2 Galeria
            .galeria__head 
                form.mt-4.mb-4
                    input#barra-de-busqueda(type="text", placeholder="Busca una caracteristica")
                ul#enlaces 
                    li
                        a.active  Todo
                    li 
                        a Fruta
                    li  
                        a Planta
                    li 
                        a Animal 
                    li 
                        a Paisaje
            dialog#modal
                .row 
                    .col-12.modal-cabezera
                            p +
                    .col-12.col-md-10.modal-img 
                        picture
                            span 
                                i(class="fas fa-chevron-left")
                            img(src="#")
                            span 
                                i(class="fas fa-chevron-right")
                    .col-12.col-md-2.modal-des 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, inventore ipsa debitis a alias doloribus quibusdam voluptatibus. Ea non pariatur beatae, dicta soluta nesciunt labore ad quos voluptatem, sapiente eligendi.
            .galeria__grid
                +Muuri-item('https://i.imgur.com/ORxpxCd.jpg','fruta', 'ciruela albaricoque fruta frutas ciruela naturaleza')
                +Muuri-item('https://i.imgur.com/4bQjYWz.jpg','fruta','ciruela albaricoque fruta frutas ciruela naturaleza')
                +Muuri-item('https://i.imgur.com/ECj1lAE.jpg','fruta', 'ciruela albaricoque fruta frutas ciruela naturaleza')
                +Muuri-item('https://i.imgur.com/OJ6TEm3.jpg', 'planta', 'paisaje planta cerca naturaleza')
                +Muuri-item('https://i.imgur.com/8oVP9Jo.jpg', 'paisaje', ' planta lejos naturaleza')
                +Muuri-item('https://i.imgur.com/EtyAldW.jpg', 'planta', ' planta cerca flor naturaleza')
                +Muuri-item('https://i.imgur.com/SGdkUeN.jpg', "paisaje", "lejos planta paisaje humano hombre naturaleza")
                +Muuri-item('https://i.imgur.com/NDg4KhU.jpg', "animal", "cerca gato gatitos animal naturaleza")
                +Muuri-item('https://i.imgur.com/xWwBKbC.jpg', "animal", "cerca gato gatitos animal naturaleza")
                +Muuri-item('https://i.imgur.com/PAI5PCW.jpg', "animal", "cerca gato gatitos animal naturaleza")
    footer 
        include pug/_footer.pug
    script(src="https://cdn.jsdelivr.net/npm/muuri@0.9.3/dist/muuri.min.js")
    script(src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js")
    script(src="https://gscdesigns.net/fontawesome/js/all.js")
    script(src="js/galeria.js") 

