extends pug/_template.pug
block contenido
    .portafolio-gal.container.text-center.mt-5
        .galeria 
            h2 Galería
            .galeria__head 
                form.mt-4.mb-4
                    input#barra-de-busqueda(type="text", placeholder="Busca una característica")
                ul#enlaces 
                    li
                        a.active  Todo
                    li 
                        a Fruta
                    li  
                        a Planta
                    li 
                        a Animal 
                    li 
                        a Paisaje
            #modal
                .row 
                    .col-12.modal-cabezera
                            p <i class="fas fa-times"></i>
                    .col-12.col-md-8.modal-img 
                        picture
                            span 
                                i(class="fas fa-chevron-left")
                            img(src="#")
                            span 
                                i(class="fas fa-chevron-right")
                    .col-12.col-md-3.modal-des 
                        h3 Titulo de foto 
                        hr
                        p
            .galeria__grid
                +Muuri-item('https://i.imgur.com/ORxpxCd.jpg','fruta', 'ciruela albaricoque fruta frutas ciruela naturaleza', 'Ciruelas doradas o albaricoques')
                +Muuri-item('https://i.imgur.com/4bQjYWz.jpg','fruta','ciruela albaricoque fruta frutas ciruela naturaleza', 'Una ciruela de cerca')
                +Muuri-item('https://i.imgur.com/ECj1lAE.jpg','fruta', 'ciruela albaricoque fruta frutas ciruela naturaleza', 'Ciruelas rojas')
                +Muuri-item('https://i.imgur.com/OJ6TEm3.jpg', 'planta', 'paisaje planta cerca naturaleza', 'Una plantita de cerca')
                +Muuri-item('https://i.imgur.com/8oVP9Jo.jpg', 'paisaje', ' planta lejos naturaleza', 'Nature lover')
                +Muuri-item('https://i.imgur.com/EtyAldW.jpg', 'planta', ' planta cerca flor naturaleza', 'Una bella flor')
                +Muuri-item('https://i.imgur.com/SGdkUeN.jpg', "paisaje", "lejos planta paisaje humano hombre naturaleza", 'Lokinng the never, thinking in all')
                +Muuri-item('https://i.imgur.com/NDg4KhU.jpg', "animal", "cerca gato gatitos animal naturaleza", 'Rafiki is Photo Collection')
                +Muuri-item('https://i.imgur.com/xWwBKbC.jpg', "animal", "cerca gato gatitos animal naturaleza", 'Rafiki is Photo Collection')
                +Muuri-item('https://i.imgur.com/PAI5PCW.jpg', "animal", "cerca gato gatitos animal naturaleza", 'Rafiki is Photo Collection')
    footer 
        include pug/_footer.pug
    script(src="https://cdn.jsdelivr.net/npm/muuri@0.9.3/dist/muuri.min.js")
    script(src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js")
    script(src="https://gscdesigns.net/fontawesome/js/all.js")
    script(src="js/galeria.js") 

