extends pug/_template.pug
block contenido
    .home.max-w-800.mt-5 
        p.text-center Hola mi nombre es Jeremías san Martín, soy desarrollador web independiente.
        .row.home__info
            .col-12.col-md-6
                p Manejo de tegnologías:
        
            .col-12.col-md-6 
                .d-flex.justify-content-around
                    +icon-Marck('HTML 5', 'fa-html5','#E96228')
                    +icon-Marck('CSS 3', 'fa-css3','#15AABF')
                    +icon-Marck('JavaScript', 'fa-js','#E8D44D')
        .home__content.mt-4
            p La tegnología web tiene mucho potencial, con ella puede hacer desde una sencilla página web para informar 
                | o algo más complejo como tu propia tienda virtual o incluso un app, ¡sí una app! como esas que descargas en tu teléfono celular.

            p Permíteme mostrarte algunos de mis proyectos:
            .home__categorias
                section.activo(data-id=1)
                    +windowIco()
                    p Sitio Web
     
                section(data-id=2)
                    +cubeIco()
                    p Aplicación Web
                section(data-id=3)
                    +penIco()
                    p Dibujo en CSS 
            section.cli-container
                    a(href="python/cli.py")
                        +wpIco()
                        h4 Worpress Plugin React Tool CLI
            .home__categorias--contenido.mt-5 
                section
                    h4 Sitio Web
                    .container 
                        .row 
                            .col-12.col-md-6.mb-3
                                a(href="https://gscdesigns.net/")
                                    figure 
                                        img(src="https://i.imgur.com/TlSEB20.png")
                                        figcaption.text-center www.gscdesigns.net
                                     
                            .col-12.col-md-6.mb-3
                                a(href="./galeria.html")
                                    figure 
                                        img(src="https://i.imgur.com/Ry3MKtp.png")
                                        figcaption.text-center jerexxypunto.github.io/galeria
                                     
                                     
                section
                    h4 Aplicación Web
                    .container
                        a(href="./criptografo/") 
                            figure
                                img(src="https://i.imgur.com/qvO1R9A.png")
                            figcaption.text-center jerexxypunto.github.io/criptografo/
                section
                    h4 Dibujo en CSS 
                    .container
                        a(href="./animation.html") 
                            figure
                                img(src="https://i.imgur.com/4G6Yosb.png")
                            figcaption.text-center jerexxypunto.github.io/animation.html
    footer 
        include pug/_footer.pug
    script(src="https://cdn.jsdelivr.net/npm/muuri@0.9.3/dist/muuri.min.js")
    script(src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js")
    script(src="https://gscdesigns.net/fontawesome/js/all.js")
    script(src="js/home.js") 
        


