.footer.container-fluid.text-center.mt-4mb-4
    .container
        h5 Portafolio de Jeremías San Martín 
        h6 Desarrollador Web Independiente     
    .container 
        figure
            img(src="https://imgur.com/ll1CQvO", alt="logo")
        p Todos los derechos reservados 2021 | <a href="gscdesign.net">GSC Diseños</a>    