#contrato-app{
    form{
        width: 100%;
        margin: 0 auto;
        max-width: 1000px;
    }
}

form .error{
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#cotizacion-app{

    width: 80%;
    margin: 0 auto;

    form{
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    form.disabled{
        opacity: 0;
    }

    form button{
        margin-top: 20px;
    }

    p i {
        font-weight: bold;
    }

    p .normal-font{
        letter-spacing: normal;
        font-size: 3em;
    }

    .contrato-button:nth-of-type(1){
        margin-right: 20px;
    }

    .error{
        color: red;
        background-color: rgba(255, 0, 0, 0.1);
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
    }
}


.paper-container{
    background-color: #eee;
    min-height: 100vh;
    padding: 50px 0;
}

.paper-container p.print_font{
    font-size: 12px;
}



.contrato-app.paper-print{
    width: 100% !important;
}

.contrato-app.paper-print button{
    display: none;
}

.contrato-app.paper-print .paper{
    box-shadow: none;
}

#cotizacion-app label[for="website-type-spec"],
#cotizacion-app #website-type-spec{
    display: none;
}


#cotizacion-app label[for="website-type-spec"].active,
#cotizacion-app #website-type-spec.active{
    display: block;
}
